# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List development environment open source tools for Data Science
- List some examples of evaluating arithmetic expressions in Python

## Author
Enoch Wong

Some of the popular languages that Data Scientists use are:
1. Pyhton
2. R
3. SQL
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Pytorch
4. TensorFlow
5. ggplot2

| Data Science Tools |
|------------------------|
| Jupyter Lab |
| Apache Zeppelin |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335